<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth System</title>

    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <div class="sidebar">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>

    <div class="content">
        <h1 class="centering-text">Welcome to Auth System 2.0</h1>
        <p class="centering-text">If you're new here, please <span><a href="/register">REGISTER</a></span> your account
            information with us and get access to your profile.</p>
        <p class="centering-text">If you're a returning user, <span><a href="/login">LOGIN</a></span> and get back to
            using the Auth System that you can trust.</p>
    </div>
</body>

</html>