<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth System</title>

    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <div class="sidebar">
        <a href="/profile">My Profile</a>
        <a href="/logout">Logout</a>
    </div>

//Registered User's details
    <div class="content">
        <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h3>Hello <span class="fa fa-user"><%= user.name %></span></h3>

                        <p>
                            Welcome to your Profile!
                        </p>
                    </div>
                </div>
    </div>
</body>

</html>
