<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth System</title>

    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <div class="sidebar">
        <a href="/profile">My Profile</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">
        <h1 class="centering-text">Hello from profile</h1>
    </div>
</body>

</html>