<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth System</title>

    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <div class="sidebar">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
    <div class="content">
        <form method="POST" action="/register" class="form-container">
            <h1>Registration</h1>
            <p>Fill in your information and gain access to our super secret and informative site</p>
            <hr>
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" placeholder="Choose Username" autocomplete="off" required>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" placeholder="Enter Email" autocomplete="off" required>
            <label for="password"><b>Password</b></label>
            <input type="password" name="password" placeholder="Choose Password" autocomplete="off" required>
            <hr>
            <div>
                <input class="form-button register" type="submit" value="Register">
                <a href="/login"><input class="form-button member" type="button" value="Already a member? Login"></a>
            </div>
        </form>
    </div>

</body>

</html>