*,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #c10000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #fff;
  color: #000;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  outline: none;
  text-align: center;
}

.form-container hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.form-button {
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  outline: none;
}

.register {
  background-color: #4caf50;
}

.member {
  background-color: #c10000;
}
.centering-text {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
